*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.cabecalho img{
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.cabecalho a{
    text-decoration: none;
    color: #fff;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 20% 0;
}

/* UTILIZA PSEUDO CLASSES PARA EFEITOS - HOVER */

.cabecalho a:hover{
    color: #000000;
    background-color: #fff;
}

