@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./break-point-630px.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.cabecalho img{
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.cabecalho a{
    text-decoration: none;
    color: #fff;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 20% 0;
}

/* UTILIZA PSEUDO CLASSES PARA EFEITOS - HOVER */

.cabecalho a:hover{
    color: #000000;
    background-color: #fff;
}

 .tit-foto{
    font-size: 4rem;
    text-align: center;
    margin: 5% 0;
 }

 .conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

 }

 .conteudo >div img{
    max-width: 100%;
    display: block;
 }

 .conteudo > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;

 }

/* breakpoint 630px */


@media(max-width:630px){
    .cabecalho{
        flex-direction: column;        
    }

        .cabecalho nav{
            flex-wrap: nowrap;
        }

        .cabecalho a{
            font-size: 2em;
        }
}


/* breakpoint 630px */