*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.cabecalho img{
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}